/* Font Family
================================================== */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

  
  #reproductor {
    width: 80%;
    margin: auto;
    margin-top: 2em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .2), inset -5px -3px 3px rgba(0, 0, 0, .1), 8px 8px 10px rgba(0, 0, 0, .3);
    background: rgba(71, 52, 52, 0.486);
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 45%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 45%, rgba(204, 204, 204, 1) 100%); */
  }
  
  #cabecera {
    text-align: center;
    color: black;
    background: rgba(71, 52, 52, 0.329);
    height: 130px;
    border-radius: 15px 15px 0 0;
    /* box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .7), inset -2px -2px 3px rgba(0, 0, 0, .1); */
  }
  
  #controles {
    display: inline-block;
    width: 200px;
    margin: auto;
    margin-top: 2em;
    text-align: center;
  }
  
  #controles .boton {
    display: inline-block;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  #controles .boton:hover {
    cursor: pointer;
  }
  
  #controles .boton:active {
    color: #404040;
  }
  
  #controles img{
    height: 20px;
    width: 20px;
  }

  #meter {
    width: 40%;
    appearance: none;
  }
  
  progress::-webkit-progress-bar {
    background: #d1d1e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3) inset;
  }
  
  progress::-webkit-progress-value {
    background: rgba(0, 0, 0, 0.3);
  }
  
  #volume {
    appearance: slider-vertical;
    height: 5em;
  }
  
  #volumecontrol {
    position: absolute;
    top: 3.8em;
    right: 10%;
  }
  
  #volumecontrol .up {
    position: absolute;
    top: -16px;
    right: 60px;
  }
  
  #volumecontrol .down {
    position: absolute;
    right: 60px;
    top: 68px;
  }
  
  #cover {
    display: inline-block;
    position: relative;
    width: 203px;
    height: auto;
    margin-top: 1em;
    margin-left: 1em;
    float: left;
  }
  
  #lista {
    margin-top: 12.5px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .song {
    user-select: none;
    align-items: center;
    text-align: center;
  }
  
  .song.activo {
    background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo para resaltar la canción activa */
    font-weight: bold; /* Cambia el peso de la fuente para resaltar la canción activa */
  }
  

  .song .test {
    color:red;
    animation: moverTexto 2s linear infinite;
  }
  
  .song:hover {
    cursor: pointer;
    background: #bfbfbf;
  }
  
  p {
    text-align: center;
    color: white;
  }
  
  .separador {
    height: 15px;
  }
  
  @media screen and (max-width:640px) {
    #cover {
      display: none;
    }
    #lista {
      margin-left: 15px;
    }
  }
  
  @media screen and (max-width:625px) {
    #volumecontrol {
      right: 5%;
    }
  }
  
  @media screen and (max-width:480px) {
    #volumecontrol {
      right: 2%;
    }
  }
  
  @keyframes moverTexto {
    0% {
      left:0;
    }
    100% {
      left: 100%;
    }
  }

  .btn{
    cursor:pointer;
  }

  .ocultar{
    display:none;
  }

  #btn_siguiente{
    height: 35px;
    width: 35px;
  }

  #btn_anterior{
    height: 35px;
    width: 35px;
  }