@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
    background-color: #0665a2;
    color: #fff;
    font-size: 1rem;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.618;
    padding: 1rem 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}



.container {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.column {
    width: inherit;
}

p {
    color: #fff;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 0 2px;
}

a,
a:visited {
    color: #8cc3e6;
    outline: 0;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #bbdef5;
}

p a,
p a:visited {
    line-height: inherit;
}



.add-bottom {
    margin-bottom: 2rem !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.no-support {
    margin: 2rem auto;
    text-align: center;
    width: 90%;
}